 <nav>{{> logout}}</nav>
<h2>We the undersigned demand that driving private Cars will be forbidden in Berlin!</h2>
  {{#rows}}  
  <div class ="container">
       <p class="ListNames">{{first}}, {{last}}, {{age}},  <a href ="signers/{{city}}">{{city}}</a> <href="{{url}}">{{first}}'s Hompage</a></p>
       <div>
  {{/rows}}
</div>