  <nav>{{> logout}}</nav>
<h3 class ="signersFromCity">Signers from {{city}}</h3>

{{#rows}}  
  <div class ="container">
       <p class="ListNames">{{first}}, {{last}}, {{age}} <a href="{{url}}">{{url}}</a></p>
       <div>
  {{/rows}}
