  <nav>{{> logout}}</nav>
<h3 class ="signersFromCity">Signatories from {{city}}</h3>

{{#rows}}  
  <div class ="container">
       <p class="ListNames"> <a href="{{url}}">{{first}}</a> {{last}}, {{age}},</p>
       <div>
  {{/rows}}
