<h2 class = "h2-signers-list">We the undersigned demand to save rare words in danger of dying out!</h2>
{{> navbar}}
<div class="signers-container">
{{#rows}}  
  <p class="single-signer">
    <a href="{{url}}">{{first}}</a> {{last}} {{age}}  <a href ="signers/{{city}}">{{city}}</a> 
  </p>
  {{/rows}}
</div>