 <nav>{{> logout}}</nav>
<h2 class = "demandSigners">We the undersigned demand to save rare words in danger of dying out!</h2>
  {{#rows}}  
  <div class ="container">
       <p class="ListNames">{{first}}, {{last}}, {{age}},  <a href ="signers/{{city}}">{{city}}</a> <href="{{url}}"></a></p>
       <div>
  {{/rows}}
</div>