<h2 class ="h2-signers-list">Signatories from {{city}}</h3>
 {{> navbar}}
 <div class ="signers-container">
   {{#rows}}  
     <p class="single-signer"><a href="{{url}}">{{first}}</a> {{last}} {{age}}</p>
   {{/rows}}
     <p>
</div>  
 
